<h1>Welcome<h1>

<% @media.each do |m| %>
	<table>
		<tr><td><%= image_tag m.attachment.url(:thumb) %></td>
			<td><%= link_to 'Edit',edit_user_media_path(current_user, m) %></td>
			<td>
				<%= link_to 'Delete', user_media_path(current_user,m), method: :delete %></td>
			</td>
		</tr>
	</table>
<% end %>
<%= link_to 'Upload', new_user_media_path(current_user) %>
	<%= link_to 'Logout', destroy_user_session_path, method: :delete %>