<% if(@media.errors) %>
<%= @media.errors.full_messages do |e| %>
<div>
	<%= e %>
</div>
<% end %>
<% end %>	
<%= form_for @media, url: user_media_path(current_user, @media), :html => { :multipart => true } do |f| %>
<p>
	<%= f.file_field :image %>
</p>

<p>
	<%= f.submit "Submit" %>
</p>
<% end %>