<!DOCTYPE html>
<html>
<head>
  <title>Mediashare</title>
  <%= stylesheet_link_tag    'x' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, id: "logout_button" %>
  <% end %>
<%= yield %>

</body>
</html>
